extends layout 

block content
  .inner
    h2= title
    .map
      .autocomplete
        input.autocomplete(type="text" placeholder="Search for Restaurants" name="geolocate")
      #map
        p Loading Map...