mixin restaurantCard(restaurant = {})
  .restaurant  
    .restaurant__hero
      .restaurant__actions
        button soon
      img(src=`/uploads/${restaurant.photo || 'restaurant.png'}`)
      h2.title
        a(href=`/restaurants/${restaurant.slug}`) #{restaurant.name}
    .restaurant__details
      p= restaurant.description.split(' ').slice(0, 25).join(' ')