html {
  font-size: 10px;
}

body {
  background: $vanilla;
}

.inner {
  max-width:1000px;
  margin: 0 auto;
  margin-bottom: 10rem;
  @media all and (max-width: 1000px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
